<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Application">
    <parameter name="url" value="https://www.saucedemo.com/"/>
    <test verbose="2" preserve-order="true" name="SauceApp">
        <parameter name="username" value="standard_user"/>
        <parameter name="password" value="secret_sauce"/>
        <groups>
            <run>
                <include name="login"/>
            </run>
        </groups>
        <classes>
            <class name="com.maroti.pageLayer.LoginTest"/>
        </classes>
    </test>
</suite>